* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    height: 100%;
    background-color: #fdd6e1;
}

/*Header w/ address & hours*/
.header-bar {
    background-color: #fff;
    display: flex;
    flex: row wrap;
    justify-content: center;
    gap: 10px;
    padding: 6px 0px;
}
.header-bar i {
    font-size: 10px;
    align-content: center;
}


/*Nav w/ tabs: Hours & Location, Menu, & Contact; logo centered; social media icons & Order Online button on right*/
.nav-container {
    background: linear-gradient(#fdd6e1,rgb(253, 214, 225, .7));
    width: 100%;
    height: 70px;
    margin: 0 auto 0;
    padding: 12px 0px;
    display: flex;
    justify-content: space-around;
    /* position: fixed; */
}
.nav-container > ul {
    width: 32%;
}
.nav-container > div {
    width: 32%;
}
.nav-tabs-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    list-style-type: none;
    font-size: 15px;
}
.nav-item {
    color: #000;
}
.nav-item:hover {
    font-weight: 800;
}
.nav-logo {
    display: flex;
    justify-content: center;
    align-items: end;
}
.nav-logo > img {
    height: 85%;
}
.nav-buttons  {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    list-style-type: none;
}
.nav-buttons i {
    font-size: 30px;
    color: #31cbb8;
}
.nav-buttons button {
    height: 35px;
    width: 100px;
    background-color: #31cbb8;
    border: none;
}


/*Fullscreen video of food as background-*/
.food-vid-container {
    width: 100%;
    height: 700px;
}
.food-vid-container video {
    width: 100%;
}
.food-vid-container .menu-btn {
    background-color: #31cbb8;
    border: none;
    border-radius: 15px;
    position: relative;
    top: -25px;
    left: 40%;
    height: 40px;
    width: 130px;
}


/*2 column welcome section HOMEPAGE - heading 1, paragraph, image*/
.welcome-section-container {
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    height: 400px;
    width: 100%;
}
.welcome-left-col {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.welcome-left-col h2 {
    color: #68c28c;
}
.welcome-right-col {
    flex: 1;
    padding: 20px;
    height: 350px;
    display: flex;
    justify-content: center;
}
.flamingo-img {
    height: 100%;
}


/* 2 column display menu - heading 3; 2nd column broken into 3 columns & 3 rows for image display */
.home-page-menu-container {
    display: flex;
}
.menu-category-selection-container {
    flex: 1;
}
.home-page-menu-img-display {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    flex: 4;
}
.home-page-menu-img-display > img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}


/* Reviews section - heading 2; blank div */
.review-section-container {
    margin-top: 80px;
}
.review-section-title {
    padding-bottom: 30px;
    text-align: center;
}
.review-section {
    background-image: url("/images/ice-cream-shop-selection.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 200px;
}


/* Social media icons - heading 2 */
.social-media-section-container {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.social-media-title {
    /* text-align: center; */
}
.social-media-icon-container > i {
    font-size: 50px;
    padding: 0px 5px;
}


/* Footer; 2 rows; 1st row with phone #, address, hours, Google Maps; 2nd row split into 3 columns */
.foot-container {
    background-color: #fff;
    height: 250px;
    width: 100%;
    display: flex;
}
.foot-hours {
    flex: 1;
    padding: 20px 20px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.foot-map {
    flex: 1;
    padding: 20px;
}
#map {
    height: 100%;
    width: 70%;
  }
.foot-bar {
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.foot-bar > .foot-social {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.foot-bar > .foot-social > i {
    font-size: 30px;
}
.foot-bar > .foot-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-bar > .foot-logo > img {
    height: 80%;
}
.foot-bar > .foot-buttons {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}
.foot-bar > .foot-buttons > button {
    height: 35px;
    border-radius: 10px;
}
.foot-bar > .foot-buttons > .foot-menu-btn {
    background-color: transparent;
    border: solid 2px #DE7FAE;
    color: #DE7FAE;
    width: 70px;
}
.foot-bar > .foot-buttons > .foot-order-btn {
    background-color: #67C28B;
    border: transparent;
    color: #fff;
    width: 130px;
}



/* MENU PAGE */

/* Category selection - 2 rows */
.menu-category-selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 40px 0px;
}
.menu-category-selection {
    display: flex;
    justify-content: space-around;
}
.category-selection-btn {
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    font-weight: 400;
}
.category-selection-btn:hover {
    font-weight: 600;
}
/* Div section to display items */
.menu-page-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 20px 30px;
    margin: 50px 0px;
    padding: 0px 50px;
}
.menu-page-item {
    max-width: 300px;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-page-item-title-container {
    /* flex: 1; */
    /* height: 25%; */
}
.menu-page-item-description {
    /* flex: 1; */
    /* height: 25%; */
}
.menu-page-item-container {
    /* flex: 4; */
}
.menu-page-item-image {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}



/* HOURS & LOCATION PAGE */

.hours-location-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.hours-location-container {
    display: flex;
    justify-content: space-around;
    min-height: 400px;
    margin: 50px 0;
    padding: 0 50px;
}
.hours-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hours-title {
    flex: 1;
}
.hours-wrapper {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.location-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.location-title {
    flex: 1;
}
.location-address {
    flex: 1;
}
.map-container {
    flex: 8;
    display: flex;
    justify-content: center;
    width: 100%;
}