* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.nav-container {
    background-color: #31cbb8;
    width: 100%;
    height: 50px;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-around;
}

.nav-container > * {
    width: 32%;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo > img {
    height: 85%;
}